# Database
DATABASE_URL=postgresql://postgres:postgres_password@db:5432/loja_veloz_db

# Stripe
STRIPE_SECRET_KEY=CHAVE DE TESTE

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Email
EMAIL_FROM="Loja Veloz <your_email@gmail.com>"
EMAIL_ADMIN=admin@loja.com
